<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input class="Centre" style="width: 144px;" type="text" [(ngModel)]="inputFieldString" labelPlacement="floating">
    <div slot="label">
      <ion-text color="tertiary" class="ion-text-centre">
        Add to list
      </ion-text>
    </div>
  </ion-input>
  <ion-button class="Centre" style="font-size: xx-large;" (click)="AddList()" >
    Add
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let input of listInput">
      {{input}}
    </ion-item>
  </ion-list>
</ion-content>
